<div class="padre">
  <mat-grid-list cols="6" gutterSize="3rem" rowHeight="24rem">
    <mat-grid-tile *ngIf="!ver_editar" class="caja" colspan="6" rowspan="2">
      <mat-card class="card-formulario">
        <mat-card-header>
          <mat-card-title>
            <h2>Documentos pendientes por aprobar</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field *ngIf="total_documentos">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busca un documento entre los {{ total_documentos }} documentos">
          </mat-form-field>
          <div class="scroll-docs">
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="NOMBRE">
                <mat-header-cell *matHeaderCellDef> NOMBRE </mat-header-cell>
                <mat-cell *matCellDef="let documento">
                  <h4>{{documento.NOMBRE}}<mat-chip *ngIf="documento.OBSERVACION" color="accent" selected>Revisado</mat-chip>
                    <mat-chip *ngIf="!documento.OBSERVACION" color="warn" selected>Pendiente</mat-chip>
                  </h4>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="PROCESO">
                <mat-header-cell *matHeaderCellDef> PROCESO </mat-header-cell>
                <mat-cell *matCellDef="let documento">
                  <h4>{{documento.PROCESO}}</h4>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="TIPO">
                <mat-header-cell *matHeaderCellDef> TIPO </mat-header-cell>
                <mat-cell *matCellDef="let documento">
                  <h4>{{documento.TIPO}}</h4>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="FECHA_INICIO">
                <mat-header-cell *matHeaderCellDef> FECHA ALTA </mat-header-cell>
                <mat-cell *matCellDef="let documento">
                  <h4>{{documento.FECHA_INICIO}}</h4>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="VER">
                <mat-header-cell *matHeaderCellDef> VER ARCHIVO </mat-header-cell>
                <mat-cell *matCellDef="let documento">
                  <mat-icon color="accent" (click)="ver_documento(documento)">remove_red_eye</mat-icon>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="ACCIONES">
                <mat-header-cell *matHeaderCellDef> ACCIÓN </mat-header-cell>
                <mat-cell *matCellDef="let documento">
                  <button [disabled]=" documento.OBSERVACION ? 'false': 'true'" mat-raised-button (click)="editarDocumento(documento)"
                    color="primary">MODIFICAR</button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="ver_editar" class="caja" colspan="6" rowspan="2">
      <mat-card class="card-formulario">
        <mat-card-header>
          <mat-card-title>
            <h2>Modifica documento pendiente</h2>
          </mat-card-title>
          <mat-card-subtitle>Ingresa todos los datos</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form class="form_edita_60">
            <mat-form-field>
              <input matInput placeholder="Nombre del documento" required [(ngModel)]="documento_editar.nombre" name="nombre"
                maxlength="128">
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Proceso" [(ngModel)]="documento_editar.id_proceso" name="id_proceso" required>
                <mat-option *ngFor="let p of procesos" [value]="p.ID_PROCESO">
                  {{p.NOMBRE}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Tipo de Documento" [(ngModel)]="documento_editar.id_tipo" name="id_tipo"
                required>
                <mat-option *ngFor="let t of tipos" [value]="t.ID_TIPO">
                  {{t.TIPO}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Ubicación del archivo" required [(ngModel)]="documento_editar.ubicacion"
                name="ubicacion" maxlength="512">
            </mat-form-field>
            <label for="archivo">Archivo </label>
            <input type="file" id="archivo" #inputArchivo (change)="onFileSelected($event)" accept=".xlsx,.xls,.doc,.docx,.pdf"
              required>
            <span *ngIf="archivo">{{ archivo.size/1024 | number: '1.0-2' }} KB</span>
            <mat-icon *ngIf="archivo" color="accent" (click)="resetInputFile()">clear</mat-icon>
            <div class="derecha">
              <button mat-button (click)="cancelarEditar()">CANCELAR</button>
              <button mat-raised-button (click)="upload()" color="primary">GUARDAR</button>
            </div>
            <br><br><br><br><br><br>
            El documento no fue aprobado por: <h3>{{documento_editar.observacion}}</h3>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>