<div class="padre">
  <mat-grid-list cols="6" gutterSize="1rem" rowHeight="80rem">
    <mat-grid-tile class="caja" colspan="6">
      <mat-card class="card-formulario">
        <mat-card-header>
          <mat-card-title>
            <h2>Documentos por aprobar</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field *ngIf="total_documentos">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busca un documento entre los {{ total_documentos }} documentos">
          </mat-form-field>
          <div [class]="total_documentos > 11 ? 'scroll': ''">
            <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="NOMBRE">
                <mat-header-cell *matHeaderCellDef> NOMBRE </mat-header-cell>
                <mat-cell *matCellDef="let documento">
                  <h4>{{documento.NOMBRE}}<mat-chip *ngIf="!documento.OBSERVACION" color="warn" selected>Nuevo</mat-chip></h4>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="PROCESO">
                <mat-header-cell *matHeaderCellDef> PROCESO </mat-header-cell>
                <mat-cell *matCellDef="let documento">
                  {{documento.PROCESO}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="TIPO">
                <mat-header-cell *matHeaderCellDef> TIPO </mat-header-cell>
                <mat-cell *matCellDef="let documento">
                  {{documento.TIPO}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="FECHA_INICIO">
                <mat-header-cell *matHeaderCellDef> FECHA ALTA </mat-header-cell>
                <mat-cell *matCellDef="let documento">
                  {{documento.FECHA_INICIO}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="VER">
                <mat-header-cell *matHeaderCellDef> VER ARCHIVO </mat-header-cell>
                <mat-cell *matCellDef="let documento">
                  <button mat-button (click)="ver_documento(documento)">
                      <mat-icon color="accent">remove_red_eye</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="ACCIONES">
                <mat-header-cell *matHeaderCellDef> ACCIONES </mat-header-cell>
                <mat-cell *matCellDef="let documento">
                  <button mat-button (click)="inputDialogo(documento, 'declinar')">DECLINAR</button>
                  <button mat-raised-button (click)="inputDialogo(documento, 'aprobar')" color="primary">APROBAR</button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>