<div class="padre">
  <mat-grid-list cols="6" gutterSize="1rem" rowHeight="80rem">
    <mat-grid-tile *ngIf="!ver_revisiones" class="caja" colspan="6">
      <mat-card class="card-formulario">
        <mat-card-header>
          <mat-card-title>
            <h2>Registro de cambios en los documentos</h2>
          </mat-card-title>
          <mat-card-subtitle>
            Haz clic en la fila de cualquier documento para ver su historial de Revisiones
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="scroll-docs">
            <div *ngIf="dataSource; else sinDocumentos">
              <ul>
                <li *ngFor="let proceso of procesos; let i = index">
                  <mat-card *ngIf="dataSource[i]" class="example-card">
                    <mat-card-header>
                      <mat-card-title>
                        <h3 style="color: #ff4081;">{{proceso.DEPARTAMENTO}}</h3>
                        <h4>{{proceso.PROCESO}}</h4>
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <mat-table *ngIf="dataSource[i]" [dataSource]="dataSource[i]" class="mat-elevation-z8">
                        <ng-container matColumnDef="{{columna}}" *ngFor="let columna of columnsToDisplay">
                          <mat-header-cell *matHeaderCellDef>
                            <h4>{{columna}}</h4>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let documento; let i = index" [matMenuTriggerFor]="menudoc">
                            {{documento[columna]}}
                            <mat-menu #menudoc="matMenu">
                              <button id="btn_archivo" mat-menu-item (click)="verRevisiones(documento)">
                                <mat-icon>edit</mat-icon>
                                <span>Gestionar Revisiones</span>
                              </button>
                            </mat-menu>
                          </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="columnsToDisplay;  sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
                      </mat-table>
                    </mat-card-content>
                  </mat-card>

                  <!--<mat-chip-list *ngIf="dataSource[i]" >
                  <mat-chip selected [color]="proceso.ID_DEPTO % 2 == 0 ? 'warn' :  'accent'">
                    {{proceso.DEPARTAMENTO | uppercase}} / {{proceso.PROCESO}}
                  </mat-chip>
                </mat-chip-list>
                <mat-table *ngIf="dataSource[i]" [dataSource]="dataSource[i]" class="mat-elevation-z8">
                  <ng-container matColumnDef="{{columna}}" *ngFor="let columna of columnsToDisplay">
                    <mat-header-cell *matHeaderCellDef> {{columna}} </mat-header-cell>
                    <mat-cell *matCellDef="let documento; let i = index" [matMenuTriggerFor]="menudoc">
                      {{documento[columna]}}
                      <mat-menu #menudoc="matMenu">
                        <button id="btn_archivo" mat-menu-item (click)="verRevisiones(documento)">
                          <mat-icon>edit</mat-icon>
                          <span>Gestionar Revisiones</span>
                        </button>
                      </mat-menu>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="columnsToDisplay;  sticky: true"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
                </mat-table>-->

                </li>
              </ul>
            </div>
            <ng-template #sinDocumentos>
              <h3>Sin documentos registrados</h3>
            </ng-template>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="ver_revisiones" class="caja" colspan="6">
      <mat-card class="card-formulario">
        <mat-card-header>
          <mat-card-title>
            <h2>Gestión de Revisiones del documento:</h2>
          </mat-card-title>
          <mat-card-subtitle>
            {{documento_actual.NOMBRE}}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div [class]="total_revisiones > 10 ? 'scroll-docs-revision': ''">
            <mat-table [dataSource]="revisiones" class="mat-elevation-z8" style="color: #6d6d6d;">
              <ng-container matColumnDef="NO_REVISION">
                <mat-header-cell *matHeaderCellDef> REVISIÓN </mat-header-cell>
                <mat-cell *matCellDef="let revision">
                  {{revision.NO_REVISION - 1}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="FECHA_REVISION">
                <mat-header-cell *matHeaderCellDef> FECHA REVISION </mat-header-cell>
                <mat-cell *matCellDef="let revision">
                  {{revision.FECHA_REVISION}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="RESPONSABLE">
                <mat-header-cell *matHeaderCellDef> RESPONSABLE </mat-header-cell>
                <mat-cell *matCellDef="let revision">
                  {{revision.RESPONSABLE}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="DESCARGA">
                <mat-header-cell *matHeaderCellDef> DESCARGA </mat-header-cell>
                <mat-cell *matCellDef="let revision">
                  <button id="btn_archivo" mat-icon-button color="accent" (click)="ver_documento(revision)">
                    <mat-icon>remove_red_eye</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="ADMINISTRA">
                <mat-header-cell *matHeaderCellDef> VIGENTE </mat-header-cell>
                <mat-cell *matCellDef="let revision">
                  <mat-chip *ngIf="revision.VIGENTE" color="warn" selected>Revisión Vigente</mat-chip>
                  <mat-slide-toggle *ngIf="!revision.VIGENTE" color="warn" (change)="onChange($event, revision)"
                    class="example-margin" color="warn" checked="false" [checked]="revision.VIGENTE">
                    Hacer vigente
                  </mat-slide-toggle>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="columnas_revision;  sticky: true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: columnas_revision;"></mat-row>
            </mat-table>
          </div>
          <div class="derecha">
            <button mat-raised-button color="primary" (click)="cancelarGestionar()">TERMINAR</button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>
</div>