
  .fondo_login{
   background-image: url("../../assets/img/fondo2.jpg");
   background-size: cover;
   /*background-color: gainsboro;*/
  }

  .main-div{
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center{
    width: auto;
    height: auto;
    text-align: center;
    margin: auto;
  }

  h1{
    color: #3f51b5;
  }