
  .fondo_login{
    background-image: url("../../assets/img/back.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 56px;
    min-height: 100%;
  }

  .main-div{
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center{
    width: 300px;
    height: 300px;
    margin-top: 326px;
    text-align: center;
    border-radius: 50%;
  }
  .contenido{
    padding-top: 10%;
  }

  .circle{
    background-image: url("../../assets/img/circle.png");
    background-size: 600px;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 900px;
    min-height: 900px;
    text-align: center;

    position:relative;
    display:inline-block;
    top:50%;
    transform:translateY(-50%);
  }

  h1{
    color: #3f51b5;
  }

  .pad{
    margin-top: 56px;
  }