
  .fondo_login{
   background-image: url("../../assets/img/fondo.jpg");
   background-size: cover;
   /*background-color: gainsboro;*/
  }

  .main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img{
    height: 28vh;
    width: 54vh;
  }

  .center{
    width: auto;
    height: auto;
    text-align: center;
    margin: auto;
  }