<div class="fondo_login">
  <div class="main-div">
    <mat-card class="example-card z-depth center animated bounceIn delay-1s">
      <mat-card-content>
        <h1>BIENVENIDO</h1>
        <h3>
          Sistema Interno de Control de Documentos
        </h3>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card z-depth center animated bounceIn delay-1s">
      <mat-card-content>
        <h2>LOGIN</h2>
        <mat-form-field>
          <input matInput placeholder="Correo" [formControl]="email" autofocus="" required>
          <mat-icon matSuffix>alternate_email</mat-icon>
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" [(ngModel)]="usuario.password"
            minlength="8" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button class="mat-body-1" *ngIf="!getErrorMessage() && usuario.password" mat-raised-button color="primary"
          (click)="login()">ACCEDER</button>
        <button *ngIf="getErrorMessage() || !usuario.password" mat-raised-button disabled>ACCEDER</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div class="padre">
  <mat-grid-list cols="6" gutterSize="1rem" rowHeight="80rem">
    <mat-grid-tile class="caja" colspan="3">

    </mat-grid-tile>
    <mat-grid-tile class="caja" colspan="3">

    </mat-grid-tile>
  </mat-grid-list>
</div>