.mat-table {
    overflow: auto;
  }

.mat-column-CODIGO{
    flex: 0 0 20%;
}

.mat-column-NOMBRE{
    flex: 0 0 40%;
}

.mat-column-TIPO{
    flex: 0 0 17%;
}

.mat-column-FECHA{
    flex: 0 0 8%;
}

.mat-column-ADMINISTRACIÓN{
    flex: 0 0 5%;
}


mat-header-cell, mat-cell {
    display:flex;
    justify-content: center;
   }

   ul{
    list-style-position: none;
    padding-left: 0;
}

li{
    margin: 1rem;
}

.example-card {
    background-color: #ffffff;
  }