<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()" (mouseover)="validaLogin()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name mat-display-1">Sistema Interno de Control de Documentos</h1>
        <span class="example-spacer"></span>
        <img height="85%" src="../assets/img/logo_upev_3.png">
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #snav [mode]="login ? 'over' : 'side'">

            <mat-card *ngIf="login" class="example-card user-data">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>
                        <span [matMenuTriggerFor]="menu">
                            <h2>{{usuario.nombre | uppercase}} {{usuario.apellido | uppercase}}
                                <mat-icon>keyboard_arrow_down</mat-icon>
                            </h2>
                        </span>

                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item (click)="snav.close()" routerLink="/admin_contrasenas">Cambiar
                                Contraseña</button>
                            <button mat-menu-item (click)="salir()" (click)="snav.close()">Salir</button>
                        </mat-menu>
                    </mat-card-title>
                    <mat-card-subtitle>
                        <h5>{{usuario.correo}}</h5>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <h4>{{usuario.rol}}</h4>

                </mat-card-content>
            </mat-card>

            <mat-accordion *ngIf="login">

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>search</mat-icon> Búsqueda
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item>
                            <a mat-button routerLink="/" (click)="snav.close()">Búsqueda de documentos</a>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>

                <mat-expansion-panel *ngIf="usuario.id_rol  > 1 && usuario.id_rol < 5">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>folder</mat-icon>Administración de documentos
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item *ngIf="usuario.id_rol == 2">
                            <a mat-button routerLink="/admin_docsgen" (click)="snav.close()">Administración Documentos
                                SGC</a>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item *ngIf="usuario.id_rol == 2 || usuario.id_rol == 3">
                            <a mat-button routerLink="/admin_pc_po" (click)="snav.close()">Administración Documentos
                                Depto</a>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item *ngIf="usuario.id_rol == 2 || usuario.id_rol == 3">
                            <a mat-button routerLink="/admin_docs_pendientes" (click)="snav.close()">Documentos Depto
                                Pendientes</a>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item *ngIf="usuario.id_rol == 2 || usuario.id_rol == 3">
                            <a mat-button routerLink="/admin_update_revisiones" (click)="snav.close()">Revisión de Documentos Depto</a>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <a mat-button routerLink="/" (click)="snav.close()">Consulta PC y PO</a>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item *ngIf="usuario.id_rol  == 2">
                            <a mat-button routerLink="/admin_cod" (click)="snav.close()">Codificación Nuevos Documentos</a>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item *ngIf="usuario.id_rol  == 2">
                            <a mat-button routerLink="/admin_update_docsgen" (click)="snav.close()">Revisión de
                                Documentos</a>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <a mat-button routerLink="/" (click)="snav.close()">Consulta Documentos de Trabajo</a>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>

                <mat-expansion-panel *ngIf="usuario.id_rol  == 2">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>history</mat-icon> Historial
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item>
                            <a mat-button routerLink="/" (click)="snav.close()">Registro de Cambios</a>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <a mat-button routerLink="/" (click)="snav.close()">Cambio Revisión Vigente</a>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>

                <mat-expansion-panel *ngIf="usuario.id_rol  < 3">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>account_circle</mat-icon> Cuentas de usuario
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item>
                            <a mat-button routerLink="/admin_usuarios" (click)="snav.close()">Administración de
                                usuarios</a>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>

                <mat-expansion-panel *ngIf="usuario.id_rol  == 1">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>settings</mat-icon> Administración del sistema
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <mat-list-item>
                            <a mat-button routerLink="/admin_departamento" (click)="snav.close()">Administración
                                Departamento</a>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <a mat-button routerLink="/admin_subdireccion" (click)="snav.close()">Administración
                                Subdirección</a>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <a mat-button routerLink="/admin_procesos" (click)="snav.close()">Administración de
                                Procesos</a>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <a mat-button routerLink="/admin_roles" (click)="snav.close()">Administración Roles de
                                Usuario</a>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <a mat-button routerLink="/admin_tipos_docs" (click)="snav.close()">Administración Tipos de
                                Documento</a>
                        </mat-list-item>
                    </mat-list>
                </mat-expansion-panel>

            </mat-accordion>

        </mat-sidenav>

        <mat-sidenav-content class="contenedor">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>