<div class="padre">

  <mat-grid-list cols="6" gutterSize="3rem" rowHeight="24rem">

    <mat-grid-tile class="caja" colspan="2" rowspan="2">
      <mat-card class="card-formulario">
        <mat-card-header>
          <mat-card-title>
            <h3>Nuevo Rol de usuario</h3>
          </mat-card-title>
          <mat-card-subtitle>Ingresa el nombre</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form class="example-form">
            <mat-form-field appearance="outline">
              <mat-label>Rol</mat-label>
              <input matInput placeholder="Rol" [(ngModel)]="nuevo_rol.rol" maxlength="32" name="rol" required>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="nuevoRol()">ALTA</button>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="!ver_editar" class="caja" colspan="4" rowspan="2">
      <mat-card class="card-formulario">
        <mat-card-header>
          <mat-card-title>
            <h3>Roles de usuario activos</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar en los {{ total_roles }} roles">
          </mat-form-field>
          <div [class]="total_roles > 10 ? 'scrollv': ''">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="ROL">
                <th mat-header-cell *matHeaderCellDef> ROL </th>
                <td mat-cell *matCellDef="let rol">
                  <h4>{{rol.ROL}}</h4>
                </td>
              </ng-container>
              <ng-container matColumnDef="ADMINISTRACIÓN">
                <th mat-header-cell *matHeaderCellDef> ADMINISTRACIÓN </th>
                <td mat-cell *matCellDef="let rol">
                  <button mat-raised-button color="accent" [matMenuTriggerFor]="menuadmin">
                    <mat-icon>settings</mat-icon>
                    <span>Administrar</span>
                  </button>
                  <mat-menu #menuadmin="matMenu">
                    <button mat-menu-item (click)="editarRol(rol)">
                      <mat-icon>edit</mat-icon>
                      <span>Editar</span>
                    </button>
                    <button mat-menu-item (click)="eliminarDialogo(rol)">
                      <mat-icon>delete</mat-icon>
                      <span>Eliminar</span>
                    </button>
                  </mat-menu>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="ver_editar" class="caja" colspan="4" rowspan="2">
      <mat-card class="card-formulario">
        <mat-card-header>
          <mat-card-title>
            <h3>Editar Rol de usuario</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="example-form">
            <mat-form-field appearance="outline">
              <mat-label>Rol</mat-label>
              <input matInput placeholder="Rol" [(ngModel)]="rol_editar.rol" maxlength="32" name="rol" required>
            </mat-form-field>
            <div class="derecha">
              <button mat-button (click)="cancelarEditar()">CANCELAR</button>
              <button mat-raised-button color="primary" (click)="guardaEditarRol(rol_editar)">MODIFICAR</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

  </mat-grid-list>

</div>