<h2 mat-dialog-title>Administración de documentos</h2>
<mat-dialog-content>
  <p>{{confirmMessage}}</p>
  <mat-form-field>
    <textarea matInput minlength="1" [maxlength]="tipo=='Observación' ? 512: 64" [(ngModel)]="texto" required placeholder="{{ tipo }}" ></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">CANCELAR</button>
  <button *ngIf="texto" mat-raised-button color="primary" (click)="dialogRef.close(texto)">CONFIRMAR</button>
  <button *ngIf="!texto" mat-raised-button color="primary" disabled>CONFIRMAR</button>
</mat-dialog-actions>