<div class="padre">

  <mat-grid-list cols="6" gutterSize="1rem" rowHeight="80rem">

    <!--Nuevo Documento-->
    <mat-grid-tile *ngIf="ver_nuevo" class="caja" colspan="6">
      <mat-card class="card-formulario">
        <mat-card-header>
          <mat-card-title>
            <h2>Alta de Documentos</h2>
          </mat-card-title>
          <mat-card-subtitle>Ingresa todos los datos</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form>
            <mat-form-field>
              <input matInput placeholder="Nombre del documento" required [(ngModel)]="nuevo_documento.nombre"
                name="nombre" maxlength="128">
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Proceso" [(ngModel)]="nuevo_documento.id_proceso" name="id_proceso" required>
                <mat-option *ngFor="let p of procesos" [value]="p.ID_PROCESO">
                  {{p.NOMBRE}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Tipo de Documento" [(ngModel)]="nuevo_documento.id_tipo" name="id_tipo" required>
                <mat-option *ngFor="let t of tipos" [value]="t.ID_TIPO">
                  {{t.TIPO}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput
                placeholder="Ubicación, ejemplo: Directorio de archivos de la computadora / Carpeta 3 del cajón 4 del archivero de la oficina...."
                required [(ngModel)]="nuevo_documento.ubicacion" name="ubicacion" maxlength="512">
            </mat-form-field>
            <label for="archivo">Archivo </label>
            <input type="file" id="archivo" #inputArchivo (change)="onFileSelected($event)"
              accept=".xlsx,.xls,.doc,.docx,.pdf" required>
            <span *ngIf="archivo">{{ archivo.size/1024 | number: '1.0-2' }} KB</span>
            <mat-icon *ngIf="archivo" class="cierra" color="accent" (click)="resetInputFile()">clear</mat-icon>
            <div class="derecha">
              <button mat-button (click)="cancelarNuevo()">CANCELAR</button>
              <button mat-raised-button (click)="upload()" color="primary">REGISTRAR</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!--Editar Documento-->
    <mat-grid-tile *ngIf="ver_edita" class="caja" colspan="6">
      <mat-card class="card-formulario">
        <mat-card-header>
          <mat-card-title>
            <h2>Editar documento</h2>
          </mat-card-title>
          <mat-card-subtitle>Modifica todos los datos necesarios del documento</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form class="example-form form_edita">

            <mat-form-field appearance="outline">
              <mat-label>Nombre del documento</mat-label>
              <input matInput placeholder="Nombre del documento" maxlength="128" [(ngModel)]="edita_documento.nombre"
                name="nombre" required>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Código</mat-label>
              <input matInput placeholder="Código" maxlength="64" [(ngModel)]="edita_documento.codigo" name="codigo"
                required>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Proceso" [(ngModel)]="edita_documento.id_proceso" name="id_proceso" required>
                <mat-option *ngFor="let p of procesos" [value]="p.ID_PROCESO">
                  {{p.NOMBRE}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Tipo de Documento" [(ngModel)]="edita_documento.id_tipo" name="id_tipo" required>
                <mat-option *ngFor="let t of tipos" [value]="t.ID_TIPO">
                  {{t.TIPO}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <input matInput
                placeholder="Ubicación, ejemplo: Directorio de archivos de la computadora / Carpeta 3 del cajón 4 del archivero de la oficina...."
                required [(ngModel)]="edita_documento.ubicacion" name="ubicacion" maxlength="512">
            </mat-form-field>
            <label for="archivo">Archivo </label>
            <input type="file" id="archivo" #inputArchivo (change)="onFileSelected($event)"
              accept=".xlsx,.xls,.doc,.docx,.pdf">
            <span *ngIf="archivo">{{ archivo.size/1024 | number: '1.0-2' }} KB</span>
            <mat-icon *ngIf="archivo" class="cierra" color="accent" (click)="resetInputFile()">clear</mat-icon>
            <div class="derecha">
              <button mat-button (click)="cancelarEdita()">CANCELAR</button>
              <button mat-raised-button (click)="editaDocumento()" color="primary">MODIFICAR</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!--Nueva Revisión de documento-->
    <mat-grid-tile *ngIf="ver_revision" class="caja" colspan="6">
      <mat-card class="card-formulario">
        <mat-card-header>
          <mat-card-title>
            <h2>Nueva revisión de Documentos</h2>
          </mat-card-title>
          <mat-card-subtitle>Documento seleccioando: {{ nueva_revision.documento }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form>
            <mat-slide-toggle (change)="onChange($event)" class="example-margin" color="warn" checked="false">
              ¿Cambió la ubicación del archivo?
            </mat-slide-toggle>
            <mat-form-field>
              <input matInput [disabled]="input_ubicacion"
                placeholder="Ubicación, ejemplo: Directorio de archivos de la computadora / Carpeta 3 del cajón 4 del archivero de la oficina...."
                [(ngModel)]="nueva_ubicacion" name="nueva_ubicacion" maxlength="512">
            </mat-form-field>
            <br><br><br>
            <label for="archivo">Archivo </label>
            <input type="file" id="archivo" #inputArchivo (change)="onFileSelected($event)"
              accept=".xlsx,.xls,.doc,.docx,.pdf" required>
            <span *ngIf="archivo">{{ archivo.size/1024 | number: '1.0-2' }} KB</span>
            <mat-icon *ngIf="archivo" class="cierra" color="accent" (click)="resetInputFile()">clear</mat-icon>
            <div class="derecha">
              <button mat-button (click)="cancelarRevision()">CANCELAR</button>
              <button mat-raised-button (click)="upload2()" color="primary">REGISTRAR</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <!--Vista inicial-->
    <mat-grid-tile *ngIf="!ver_nuevo && !ver_revision && !ver_edita" class="caja" colspan="6">
      <mat-card class="card-formulario">
        <mat-card-header>
          <mat-card-title>
            <h2 *ngIf="usuario.departamento == 'Evaluación y Gestión de la Calidad' && usuario.id_rol == 1">
              Documentos disponibles
            </h2>
            <h2 *ngIf="usuario.departamento != 'Evaluación y Gestión de la Calidad'  && usuario.id_rol != 2">
              Documentos del departamento de {{usuario.departamento}}
            </h2>
          </mat-card-title>
        </mat-card-header>
        <div class="flotante">
          <button mat-raised-button (click)="ver_nuevo = true" color="primary">NUEVO DOCUMENTO</button>
        </div>
        <mat-card-content>
          <div class="scroll-docs">
            <div *ngIf="dataSource; else sinDocumentos">
              <ul id="procesos">
                <li *ngFor="let proceso of procesos_docs; let i = index">
                  <mat-card *ngIf="dataSource[i]" class="example-card">
                    <mat-card-header>
                      <mat-card-title>
                        <h3 style="color: #ff4081;">{{proceso.DEPARTAMENTO}}</h3>
                        <h4>{{proceso.PROCESO}}</h4>
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <mat-table *ngIf="dataSource[i]" [dataSource]="dataSource[i]" class="mat-elevation-z8">
                        <ng-container matColumnDef="CODIGO">
                          <mat-header-cell *matHeaderCellDef>
                            CÓDIGO
                          </mat-header-cell>
                          <mat-cell *matCellDef="let documento">
                            {{documento.CODIGO}}/R{{documento.NO_REVISION - 1}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="NOMBRE">
                          <mat-header-cell *matHeaderCellDef> NOMBRE </mat-header-cell>
                          <mat-cell *matCellDef="let documento">
                            {{documento.NOMBRE}}<mat-chip *ngIf="documento.FECHA_FIN" color="warn" selected>Pendiente
                              baja</mat-chip>
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="TIPO">
                          <mat-header-cell *matHeaderCellDef> TIPO </mat-header-cell>
                          <mat-cell *matCellDef="let documento">
                            {{documento.TIPO}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="FECHA">
                          <mat-header-cell *matHeaderCellDef> FECHA_ALTA </mat-header-cell>
                          <mat-cell *matCellDef="let documento">
                            {{documento.FECHA_INICIO}}
                          </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="ADMINISTRACIÓN">
                          <mat-header-cell *matHeaderCellDef>
                            <mat-icon>settings</mat-icon>
                          </mat-header-cell>
                          <mat-cell *matCellDef="let documento">
                            <button mat-icon-button color="accent" [matMenuTriggerFor]="menuadmin">
                              <mat-icon>settings</mat-icon>
                            </button>
                            <mat-menu #menuadmin="matMenu">
                              <button id="btn_archivo" mat-menu-item (click)="ver_documento(documento)">
                                <mat-icon>remove_red_eye</mat-icon>
                                <span>Ver</span>
                              </button>
                              <button mat-menu-item (click)="verRevision(documento)">
                                <mat-icon>description</mat-icon>
                                <span>Nueva Revisión</span>
                              </button>
                              <button *ngIf="usuario.rol == 'Coordinación del SGC'" mat-menu-item
                                (click)="editarDocumento(documento)">
                                <mat-icon>edit</mat-icon>
                                <span>Editar Documento</span>
                              </button>
                              <button mat-menu-item (click)="eliminarDialogo(documento)">
                                <mat-icon>delete</mat-icon>
                                <span>Eliminar</span>
                              </button>
                            </mat-menu>
                          </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns;  sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      </mat-table>
                    </mat-card-content>
                  </mat-card>

                </li>
              </ul>
            </div>
            <ng-template #sinDocumentos>
              <h3>Sin documentos registrados</h3>
            </ng-template>
            <!--<mat-table class="mat-elevation-z8" [dataSource]="dataSource">
              <ng-container matColumnDef="CODIGO">
                <mat-header-cell *matHeaderCellDef>
                  CÓDIGO
                </mat-header-cell>
                <mat-cell *matCellDef="let documento">
                  {{documento.CODIGO}}/R{{documento.NO_REVISION - 1}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="NOMBRE">
                <mat-header-cell *matHeaderCellDef> NOMBRE </mat-header-cell>
                <mat-cell *matCellDef="let documento">
                  {{documento.NOMBRE}}<mat-chip *ngIf="documento.FECHA_FIN" color="warn" selected>Pendiente baja</mat-chip>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="PROCESO">
                <mat-header-cell *matHeaderCellDef> PROCESO </mat-header-cell>
                <mat-cell *matCellDef="let documento">
                  {{documento.PROCESO}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="DEPARTAMENTO">
                <mat-header-cell *matHeaderCellDef> DEPARTAMENTO </mat-header-cell>
                <mat-cell *matCellDef="let documento">
                  {{documento.DEPARTAMENTO}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="TIPO">
                <mat-header-cell *matHeaderCellDef> TIPO </mat-header-cell>
                <mat-cell *matCellDef="let documento">
                  {{documento.TIPO}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="ADMINISTRACIÓN">
                <mat-header-cell *matHeaderCellDef>
                  <mat-icon>settings</mat-icon>
                </mat-header-cell>
                <mat-cell *matCellDef="let documento">
                  <button mat-icon-button color="accent" [matMenuTriggerFor]="menuadmin">
                    <mat-icon>settings</mat-icon>
                  </button>
                  <mat-menu #menuadmin="matMenu">
                    <button id="btn_archivo" mat-menu-item (click)="ver_documento(documento)">
                      <mat-icon>remove_red_eye</mat-icon>
                      <span>Ver</span>
                    </button>
                    <button mat-menu-item (click)="editaDocumento(documento)">
                      <mat-icon>brush</mat-icon><span>Firmar Código</span>
                    </button>
                    <button mat-menu-item (click)="eliminarDialogo(documento)">
                      <mat-icon>delete</mat-icon>
                      <span>Eliminar</span>
                    </button>
                  </mat-menu>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>-->
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>