.mat-table {
    overflow: auto;
    width:  100%;
  }

.mat-column-CODIGO{
    flex: 0 0 14%;
}

.mat-column-NOMBRE{
    flex: 0 0 27%;
}

.mat-column-PROCESO{
    flex: 0 0 24%;
}

.mat-column-DEPARTAMENTO{
    flex: 0 0 19%;
}

.mat-column-TIPO{
    flex: 0 0 13%;
}

.mat-column-ADMINISTRACIÓN{
    flex: 0 0 3%;
}

.mat-header-cell, .mat-cell {
    display:flex;
    
   }